<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" [(ngModel)]="name"/>
  <br>
  {{ name }}
  <br>
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Star
  </button>

  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
  </button>
  <div class="col-xs-12">
    <h3>这是一个app组建内容</h3>
    <!--<app-servers></app-servers>-->
    <!--<div app-servers></div>-->
    <div class="app-servers"></div>
  </div>
  <br>
</div>

